
/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}


.text_1 {
    animation: text1;
    font-size:20px;
  }
  
  .text_2 {
    animation: text2;
    font-size:20px;
  }
  
  .text_1, .text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
#home .h-primary{
    font-size:4px;
}
#home .pm{
    font-size:15px;
}
.portray {

    position: relative;
     width: 300px;
     height: 300px;
     overflow: hidden;
     border-radius: 50%;
    padding: 0px 100px 0px 0px;
    filter: drop-shadow(5px 5px 5px black); 
    font-family: 'Bree Serif', serif;
 }
.flex-container {
   display: flex;
}

.flex-child {
   flex: 1;
}  

.flex-child:first-child {
   margin-right: 0px;
} 
.flex-child:second-child {
   margin-right: 0px;
}


/* Services section  */
#Projects{
    flex-direction: column;
    margin:50px 50px 10px 50px;
}

#Projects .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

.text-center{
    text-align :center;
}
.timeline {
    position: relative;
    padding: 0;
    color:#c64756;
    list-style: none;
    text-align :center;
    background: url('../img/books.jpg') no-repeat center center/cover;
}


/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
