/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
.button{
    border-radius: 10px;border-color:#865858; padding: 100px 10px;margin: 20px;
}
html{
    scroll-behavior: smooth;
}
h1{
    text-shadow: 2px 2px 5px black;
}
h2{
    text-shadow: 2px 2px 5px ;
}

.span{
    position: absolute;
    top: 8px;
    right: 16px;
    
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Berkshire Swash', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: rgb(238, 201, 201);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
    font-family: 'Berkshire Swash', cursive;
   
}
  
#home::before{ 
    content: "";
    position: absolute;
    background: url('../img/3_.jpg') no-repeat center center/cover;
    height: 100%;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
    font-family: 'Berkshire Swash', cursive; 
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
.text_1 {
    animation: text1;
  }
  
  .text_2 {
    animation: text2;
  }
  
  .text_1, .text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  
  .text_1::after, .text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 0.5s;
    animation-timing-function: steps(1, end);
  }
  
  @keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 17em;
    }
  }
  
  @keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 17em;
    }
  }
  
  @keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

.portray {
     position: relative;
     width: 300px;
     height: 400px;
     overflow: hidden;
     border-radius: 50%;
    padding: 1px 100px 70px 0px;
    filter: drop-shadow(5px 5px 5px black); 
    font-family: 'Bree Serif', serif;
  }
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 0px;
   
} 
.flex-child:second-child {
    margin-right: 20px;
}

#home .h-primary{
    font-size:40px;
}
#home .pm{
    font-size:25px;
}

/* projects Section */
#Projects{
    margin: 34px;
    display: flex;
    
}
  
#Projects .box{ 
    border: 2px solid brown;
    padding: 4px;
    margin: 20px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#Projects .box img{ 
   height: 160px;
   margin: auto;
   display: block;
   width:  100px;
}
#Projects .box p{
    font-family: 'Bree Serif', serif;

} 

/* Contact Section */
#contact{
    position: relative;
   
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/3_.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
  
    font-size: 1.1rem;
} 

#contact-box form{
    width: 30%;
}

#contact-box label{
   font-size: 1.3rem;
   font-weight:bold;
   font-family:  'Bree Serif';

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.text-center{
    text-align :center;
    
}
.timeline {
   
    color:#c64756;
    position: relative;
    padding: 0;
    list-style: none;
    text-align :center;
    background: url('../img/books.jpg') no-repeat center center/cover;
}
.timeline-heading{
    height: 200px;
    width: 400px;
    text-align :center; 
}
.timeline-body{
    height: 200px;
    width: 400px;
 
    text-align :center;
}
.float-child.skills {
    text-align :center;
    margin-right: 20px;
    background: url('../img/books.jpg') no-repeat center center/cover;
}

#ji{
    animation-name: example;
    animation-duration: 4s;
}


@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
   25%  {background-color:yellow; left:200px; top:0px;}
  }


.btn{
    padding: 6px 20px;
    box-shadow: 5px 1px;
    border: 2px solid rgb(177, 148, 196);
    background-color: #f6dfeb;
    color: black;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
    
}
.center{
    text-align: center;
}
